{% extends 'base.html' %}
{% load static %}
<head>
    <link rel="icon"  href="{% static 'img/network.ico' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FuchiCovid</title>
    {% block css %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/one-page-wonder.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css'%}">
    {{ form.media }}
    {% endblock %}
  </head>

{% block content %}
<h3 style="text-align: center;">Editar {{superpersona}}:</h3>
<h2 style="text-align: center;">{{nombre|upper}}</h2>
 <form action="{% url 'editar' superpersona pk %}" method="post" style="display: flex;flex-direction: column;width:35%">
    {% csrf_token %}
    {{ form }}
    {% if formParientes %}
    <h4>Personas relacionadas</h4>
    {{ formParientes.management_form }}
    {% for pariente in formParientes %}
    <h4>Persona {{forloop.counter}}:</h4>
    {{pariente}}
    <br>
    {% endfor %}  
    {% endif %}
    <button type="submit">Crear</button>
</form>
{% endblock %}