{% extends 'base.html' %}
{% load extras %}
{% load static %}

<head>
    <link rel="icon"  href="{% static 'img/network.ico' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FuchiCovid</title>
    {% block css %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/one-page-wonder.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css'%}">
    {% endblock %}
  </head>


{% block content %}
{% if messages %}

    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {%if user|is_doctor and superpersonas == 'pacientes'%}
    <br>
    <br>

    <h2 style="text-align: center; font-size: 50px; margin-top: 30px;">{{ superpersonas|title }} a su cargo</h2>
    <br>
    <br>
    {% elif object_list %}
        <h2 style="text-align: center; font-size: 50px; margin-top: 30px;">{{ superpersonas|title }} registrados</h2>
    {% endif %}
    <br>
    <br>
    {% if user|is_funcionario %}<h3 align="center"><a href="{% url crear %}">Añadir...</a></h3>{% endif %}
    <br>
    <table style="margin-bottom: 500px;">
    <thead>
    <tr>
        <th>APELLIDOS</th>
        <th>NOMBRES</th>
        <th>DOCUMENTO</th>
        <th></th>
    </tr>
    </thead>
    {% for superpersona in object_list %}
    <tr>
             <td>{{ superpersona.apellido }}</td>
             <td>{{ superpersona.nombre }}</td>
             <td>{{ superpersona.tipo_doc }} {{ superpersona.doc }}</td>
             <td><a style="font-weight: bold;" href="{%url 'perfil' superpersonas superpersona.id %}">Ver perfil</a></td>
        </tr>
    {% empty %}
    <h2 style="text-align: center; font-size: 50px; margin-top: 30px;"> No hay {{ superpersonas|title }} registrados</h2>
    <br>
    <br>
    {% endfor %}
    </table>

    {% if page_obj.has_previous or page_obj.has_next %}
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"> Atrás </a> - 
                {% endif %}
                    Pág. {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                {% if page_obj.has_next %}
                    - <a href="?page={{ page_obj.next_page_number }}">Sgte.</a>
                {% endif %}
    {% endif %}
{% endblock  %}