{% extends 'persona/perfil.html' %}
{% load extras %}

{% block detalle %}
<tr><td>EDAD:</td><td>{{ object.edad }}</td></tr>
<tr><td>DOCTOR ENCARGADO:</td><td><a href="{%url 'perfil' 'doctores' object.doctor_encargado.id %}">{{ object.doctor_encargado }}</a></td></tr>
<tr><td>CIUDAD DE POSIBLE CONTAGIO:</td><td>{{ object.ciudad_contagio }}</td></tr>
<tr><td>PARIENTES:</td><td>{% for pariente in object.parientes.all %}<a href="{%url 'perfil' 'parientes' pariente.id %}">{{ pariente.nombre }}</a><br>{% endfor %}</td></tr>
<tr><td>FECHA DE CREACIÓN:</td><td>{{ object.creacion }}</td></tr>
<tr><td>GEOLOCALIZACIÓN:</td><td><div id="map" style="width: 500px; height: 500px;"></div></td></tr>
{% endblock  %}

{% block visitas %}
<h3>Visitas registradas:</h3>
{% if user|is_doctor %}<a href="{% url 'crear_visita' object.id %}">Registrar visita ...</a>{% endif %}
<table>
    <tr>
        <th>FECHA</th>
        <th>DOCTOR</th>
        <th>TEMP. (C°)</th>
        <th>PESO (Kgs)</th>
        <th>PRESION ARTERIAL (mmHg/mmHg)</th>
        <th>MEDICAMENTO RECETADO</th>
        <th>DOSIS</th>
        <th>OBSERVACIONES</th>
    </tr>
    {% for visita in visitas %}
    <tr>
             <td>{{ visita.fecha }}</td>
             <td><a href="{%url 'perfil' 'doctores' visita.doctor.id %}">{{visita.doctor.apellido}} {{visita.doctor.nombre}}</a></td>
             <td>{{ visita.temperatura }}</td>
             <td>{{ visita.peso }}</td>
             <td>{{ visita.presion_arterial }}</td>
             <td>{{ visita.medicamento.nombre }}</td>
             <td>{{ visita.dosis }}</td>
             <td>{{ visita.observaciones }}</td>
        </tr>
    {% empty %}
        No hay visitas registradas
    {% endfor %}
    </table>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
    <script>
        let map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          }),
        new ol.layer.Vector({
     source: new ol.source.Vector({
         features: [
             new ol.Feature({
                 geometry: new ol.geom.Point(ol.proj.fromLonLat({{ object.lng_lat }}))
             })
         ]
        })})],
        view: new ol.View({
          center: ol.proj.fromLonLat({{ object.lng_lat }}),
          zoom: 12
        })
      });

    </script>
{% endblock  %}