{% load static %}
{% load extras %}
<!DOCTYPE html>
<html>
<head>
  <title>{{title|title}} - fuchi-covid</title>
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
</head>
<body>
  <header>
    <h1>fuchi-COVID</h1>
    {% if user.is_authenticated %}
      Sesión abierta de <strong>{{ user.username }} 
      {% if user|is_funcionario %} (funcionario)
      {% elif user|is_doctor %}(doctor)
      {% else %}(invitado){% endif %}
      </strong>
      //
      <a href="{% url 'index' %}">Inicio</a> /
      {% if user|is_funcionario or user|is_doctor %} <a href="{% url 'ver' 'pacientes' %}">Pacientes</a> /{% endif %}
      {% if user|is_funcionario %}<a href="{% url 'ver' 'doctores' %}">Doctores</a> /
      <a href="{% url 'ver' 'funcionarios' %}">Funcionarios</a> {% endif %}//
      <a href="{% url 'home' %}">Mi Perfil</a>  /
      <a href="{% url 'logout' %}">Cerrar sesión</a>
    {% else %}
      <a href="{% url 'index' %}">Inicio</a> /
      <a href="{% url 'login' %}">Iniciar sesión</a> /
      <a href="{% url 'signup' %}">Crear cuenta</a>
    {% endif %}
    <hr>
  </header>
  <main>
   {% block content %}
    {% endblock %}
  </main>
  <footer>
    <hr>
    <small>
      Cesar Becerra, Joan Betancourt, Nicolas Lasso, Carlos Tovar - BD UV 2020
    </small>
  </footer>
</body>
</html>