{% extends 'base.html' %}
{% load extras %}
{% load static %}

<head>
    <link rel="icon"  href="{% static 'img/network.ico' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FuchiCovid</title>
    {% block css %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/one-page-wonder.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css'%}">
    {% endblock %}
  </head>


{% block content %}
{{ reservas_objs|json_script:"reservas_objs" }}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

<table>
    <br>
    <br>
<h2 style="text-align: center;">Reserva de medicamentos</h2>
<tr>
<th>LABORATORIO</th>
{% for medicamento in medicamentos %}
<th>{{medicamento}}</th>
{% endfor %}
</tr>
{% for fila in tabla %}
<tr>
{% for r in fila %}
<td>{{r}}</td>
{% endfor %}
</tr>
{%endfor%}
</table>


<form method='POST' action="{%url 'ordenar_medicamentos' %}">
<h3>Ordernar medicamento:</h3>
{% csrf_token %}
<select id="medicamento" name="medicamento">
<option disabled selected value> -- Medicamento -- </option>
{% for medicamento in medicamentos %}
 <option value="{{medicamento.id}}">{{medicamento.nombre}}</option> 
{% endfor %}
</select>
<select id="laboratorio" name="laboratorio">
<option disabled selected value> -- Laboratorio -- </option>
{% for laboratorio in laboratorios %}
 <option value="{{laboratorio}}">{{laboratorio}}</option> 
{% endfor %}
</select>
<input type="number" id="cantidad" name="cantidad" min="0" max="-1">
<button type="submit" onclick="return confirm('¿Ordenar el medicamento seleccionado?');">Ordenar</button>
</form>
<script src="{% static "medicamentos.js" %}"></script>   
{% endblock %}
